{% extends "base.html" %}
{% load bootstrap %}

{% block bg %}grey{% endblock %}

{% block body %}
    <h1>資訊頁面</h1>
    <p id="intro">
    嗨，{{ user.username }}! <br>
    您總共已完成 {{ jobs_done }} 個任務! <br>
    其中共有 {{ user.none_crop_job_count }} 個不包含截圖的任務，<br>
    以及 {{ user.crop_job_count }} 個包含截圖的任務。<br>
    您目前的酬金結算為 NT ${{ pay }} 元。 <br>
    請選擇您的下一個動作。</p>
    <a href="{% url 'job' %}"><button class="btn btn-default">Go to the next job.</button></a>
    <a href="/accounts/logout/?next=/"><button class="btn btn-default" style="margin-left:10px">Log Out</button></a>

{% endblock %}
