{% extends "base.html" %}
{% load bootstrap %}

{% block body %}

    <h1>資訊頁面</h1>
    <hr>
    <p>嗨，{{ user.username }}！</p>
    <p>您總共已完成 {{ jobs_done }} 個任務!</p>
    <p>其中共有 {{ jobs_done }} 個不包含截圖的任務，</p>
    <p>以及 {{ jobs_done }} 個包含截圖的任務。</p>
    <p>您目前的酬金結算為 NT{{ user.money }} 元。</p>
    <br>
    <p>請選擇您的下一個動作。</p>
    <p>
    <a href="{% url 'job' %}"><button class="btn btn-default">Go to the next job.</button></a>
    <a href="/accounts/logout/?next=/"><button class="btn btn-default">Log Out</button></a>
    </p>

{% endblock %}
