{% extends 'base.html' %}
{% load static %}

{% block bg %}cover{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2" id="indexdiv">
        <h1 style="margin-bottom: 22px;">Welcome!</h1>
        <hr>
        <p class="indextext">您好，歡迎您使用本網站。</p>
        <p class="indextext">請登入以接受標註影像任務，我們將依您所完成的任務計算酬金，詳情請登入觀看說明。</p>
        <br>
        <a href="{% url 'register' %}"><button class="btn btn-default" type="submit" style="margin-right: 10px;">註冊</button></a>
        <!--<a href="{% url 'register' %}"<button class="btn btn-default" type="submit">Register</button></a>-->
        <a href="{% url 'dashboard' %}"><button class="btn btn-default" type="submit">登入</button></a>
        <p style="color:blue; font-size: 12px;">
        若您尚未擁有帳號，請點按「註冊」按鈕進行註冊。若您已經註冊，請直接登入。
        </p>
    </div>
</div>
{% endblock %}
