{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block extra_script %}
<link rel="stylesheet" type="text/css" href="{% static 'css/imgareaselect-default.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery.imgareaselect.pack.js' %}"></script>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie =     jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(document).ready(function () {

        $('img#photo').imgAreaSelect({
            handles: true,
            onSelectEnd: function (img, selection) {
                            console.log(selection.width);
                            console.log(selection.height);
                            console.log(selection.x1);
                            console.log(selection.y1);
                            width = selection.width;
                            height = selection.height;
                            x1 = selection.x1;
                            y1 = selection.y1;

                        }
        });
    });

    function reloadPage(){
        window.location.href = {% url 'job' %};
    }

    function csrfSafeMethod(method) {
       // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sendData(){
        if (typeof x1 === 'undefined'){
            alert('you have to select area first! ');
        } else if (width == 0 && height == 0){
            alert('you have to select a valid area!');
        } else {
        
        // block the window
        $("#blocking").css("display","block")

        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var data = { 'width': width,
                     'height': height,
                     'x1': x1,
                     'y1': y1,
                     'photo_id': {{ img.photo_id }} };
        var URL = {% url 'thanks' %};
        $.post(URL, data, function(response){
                            if (response === 'success') {
                                //alert('Yay!');
                                window.location.href = {% url 'thanks' %};
                            } else {
                                console.log('Error! :('); }
        });
        }
    }
</script>
{% endblock %}

{% block bg %}white{% endblock %}


{% block body %}
<div id="blocking">
    <img src="https://www.asus.com/support/images/support-loading.gif" style="width: 150px; margin-top:120px;">
</div>

    <h1 style="margin-bottom: 40px;">{{ title }}</h1>
    <p><b>請問您認為下圖是否能夠透過框選局部區域，以改善其構圖？</b></p>
    <p> 若您認為下圖構圖完善，不須截圖，請點擊以下按鈕，本任務即告結束。</p>

    <a href="{% url 'no_crop' img.photo_id %}">
        <button style="margin-right: 40px;" class="btn btn-default">No, it does not need a crop!</button>
    </a>
    <br><br>
    <p>若您認為下圖構圖有欠佳之處，請直接在下圖中，以滑鼠框選出您認為構圖最佳的區域，並於完成後點擊圖下方按鈕。</p>
    <img id="photo" src="{{ img.url }}" style="max-width: 800px; max-height: 800px;"> <br>


    <a href="#"><button class="btn btn-success" onclick="sendData()">Yes, it looks better with this window!</button></a>
    <p>或是您也可以選擇不作答。欲跳過本任務，請點擊以下按鈕。</p>
    <a href="#photo"><button class="btn btn-default" onclick="reloadPage()">I'm not sure about this...</button></a>

    <br>
    <p>說明：若本任務的圖片，經您判定不須截圖，我們將給予您NT1的酬金。</p>
    <p>若本任務的圖片，經您判定需要截圖，並框選出構圖最佳區域，我們將給予您NT3的酬金。</p>

{% endblock %}
